<mat-card>
  <mat-card-title> Welcome !!! </mat-card-title>
  <mat-card-subtitle>
    or as a G33k would say, "Hello, World !"
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      This relatively basic app can be used to bootsrap a Firebase + Angular
      project.
    </p>
    <p>
      Should you give it a try, please don't put any actual data. A process to
      daily (at 12am UTC) clear the database will be implemented at one point.
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-footer>
    Have a look at the
    <a href="https://github.com/oskey-example/firebase-oskey-example">
      Github repository
    </a>
    if you would like to learn more. All is open source (MIT License).
  </mat-card-footer>
</mat-card>
