<mat-card>
  <mat-card-title>Complete user profile</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onUpdate()">
      <mat-error *ngIf="updateHasFailed"> Something went wrong </mat-error>
      <h3>Public profile</h3>
      <span> This data is shown to the outside world ! </span>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Display name"
          formControlName="displayName"
          required
        />
        <mat-error>Please provide a valid email address</mat-error>
      </mat-form-field>
      <h3>Private profile</h3>
      <span> This data is just between us ! </span>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Full name"
          formControlName="fullName"
          required
        />
        <mat-error>Please provide a valid email address</mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" *ngIf="!isUpdating">
          Update
        </button>
        <mat-spinner *ngIf="isUpdating"></mat-spinner>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button mat-flat-button (click)="onSignOut()">
      Not the right moment ? Sign out instead...
    </button>
  </mat-card-footer>
</mat-card>
