<header>
  <mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <span>Example</span>
    <span class="toolbar-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="!isAuthenticated">
      My account
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/auth/signIn">
        <mat-icon>power_settings_new</mat-icon>
        Sign in
      </button>
      <button mat-menu-item routerLink="/auth/signUp">
        <mat-icon>power_settings_new</mat-icon>
        Sign up
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuAuth" *ngIf="isAuthenticated">
      {{ userDisplayName }}
    </button>
    <mat-menu #menuAuth="matMenu">
      <button mat-menu-item (click)="onSignOut()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
